node_modules
npm-debug.log
dist
.git
.github
.vscode
.idea
.env
*.md
!README.md
test
coverage
.eslintrc
.prettierrc
docker-compose.yml
Dockerfile
.dockerignore
uploads/*
storage-service-postman-collection.json
